@charset "UTF-8";


/* ヘッダー */
.title {
	background-color:#afeeee;
	color:white;
}

/* 登録フォーム */
.main {
    background-color : #e0ffff;
    margin: 1em;
}


/* 宛先・エラーメッセージ */
.memo {
	color : #ff0000;
	font-size : 30px;
}


/* 左上リンク */
a {
	font-size : 3em;
    color : white;
}


/* ラジオボタン */
.ampm {
    list-style: none;
    padding-top: 1em;
}


/* 時間リストボックス */
.time {
    padding-top: 2em;
}


/* チェックボックス */
.check {
    list-style: none;
}
